<section>
    <br /><br /><br /><br /><br /><br />
    <h1 class="center">Adăugare film!</h1>
    <br /><br />
    <form method="POST" action="/adauga-BD" class="center">
        <label class="label2">Id</label> &ensp;<input type="text" name="id"><br/ >
        <label class="label2">NumeFilm</label>&ensp; <input type="text" name="film"><br/ >
        <label class="label2">Pret</label> &ensp;<input type="text" name="pret"><br/ >
        <label class="label2">Durata</label>&ensp; <input type="text" name="durata"><br/ >
        <label class="label2">Ora</label> &ensp;<input type="text" name="ora"><br/ >
        <label class="label2">Gen</label> &ensp;<input type="text" name="gen"><br/ >
        <label class="label2">Detalii</label> &ensp;<input type="text" name="detalii"><br/ >
        <label class="label2">Trailer</label> &ensp;<input type="text" name="trailer"><br/ ><br />
        <input type="submit" value="Adaugă">&ensp;&ensp;
        <a href = "/filme" class="t">Înapoi</a>
    </form>
</section>