<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <script src="../app.js"></script>
        <script src="../resurse.js"></script>
        <title>Programare WEB</title>
    </head>

    <header class="fixed-header">
        <nav>
            <a href = "/">Acasă</a>
            <a href = "/inregistrare">Înregistrare</a>
            <a href = "/autentificare">Autentificare</a>
            <a href = "/resurse">Cinematografe</a>
        </nav>
    </header>

    <body>
        <br><br><br>
        <main>
            <%- body -%>
        </main>
        
        <footer>
            <br>&copy;.2021.Mihalache Nicoleta-Ecaterina
        </footer>
    </body>
</html>

